/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --ion-color-primary: #4caf50;
    --ion-color-secondary: #ff9800;
    --ion-color-tertiary: #1b1f22;
    --ion-font-family: 'Roboto', sans-serif;
  }

  
  
  body {
    font-family: var(--ion-font-family);
  }
  .scanner-active {
    background: transparent !important;
    --ion-background-color: transparent !important;
  }

  


  
  
  